@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



.aviso{
    color: rgb(32, 52, 125);
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 60px;
}

.dataConteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3fc2f4;
    background-image: linear-gradient(132deg, #3fc2f4 0%, #b53686 100%);
    margin-top: 15px;
    width: 600px;
    border-radius: 6px;
    border: solid white 3px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: rgb(85, 19, 19);
    font-weight: bold;


}

.dataConteiner button{
    margin-left: 260px;
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 18px;
    background-color: rgb(62, 178, 49);
}

.imgConteiner{
    border-radius: 5px;

    width: 9.5rem;
    height: 9rem;
}

.infoConteiner h3{
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 35px;
    margin-left: 5px;
    
}



.eliminateAll{
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 21px;
    background-color: rgb(62, 178, 49);
    border-radius: 5px;
    color: black;
    width: 15rem;
}

.formBuy input {
    width: 550px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(195, 202, 200);
}

.formBuy{
    border: solid 3px rgb(136, 56, 143);
    border-radius: 5px;
    width: 650px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(30, 107, 162);
    display: flex;
    align-items: center;
    margin-left: 450px;
    flex-direction: column;
}

.formBuy button{
    background-color: rgb(62, 178, 49);
    font-family: 'Alumni Sans Inline One', cursive;
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
}

.contenido h5{
    color: white;
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.dataBuy{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
